extends layout

block content
	h1= article.title
	h5 Article author 
		span.author= author
	p= article.body
	hr
	if user
		if user._id == article.unique || user._id == '5d78ae77c500aa059cf3616f'
			a.btn.btn-default(href='/articles/edit/'+article._id) Edit
			a.btn.btn-danger.delete-article( data-id=article._id) Delete