.alert-error {
	color: #a94442;
	background: #f2dede;
	border-color: #ebccd1
}

.author {
	color: #5B5C59
}

/*.list-group li a :first-child {
	color:#B34EE9 
}*/

.mainArticle a {
	color: #343A40;
	font-weight: 500
}